In [1]:
import pandas as pd

data = "dataset/child-mind-institute-detect-sleep-states/train_series.parquet"
data2 = "dataset/child-mind-institute-detect-sleep-states/test_series.parquet"
data_csv = "dataset/child-mind-institute-detect-sleep-states/train.csv"

In [2]:
df2 = pd.read_parquet(data2)

In [3]:
df2.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

In [ ]:
#convert the parquet test data to csv 
df2.to_csv("dataset/child-mind-institute-detect-sleep-states/test_series.csv")

In [4]:
df = pd.read_parquet(data)

# Failed due to low RAM. continue after buying more RAM. Need more than 16 . Have 16

:

: