In [1]:
import pandas as pd

data = "dataset/child-mind-institute-detect-sleep-states/train_series.parquet"
data2 = "dataset/child-mind-institute-detect-sleep-states/test_series.parquet"
data_csv = "dataset/child-mind-institute-detect-sleep-states/train.csv"

In [3]:
df2 = pd.DataFrame(pd.read_csv(data_csv, nrows=1000))

In [4]:
df2.describe()

        Unnamed: 0         step       anglez         enmo
count  1000.000000  1000.000000  1000.000000  1000.000000
mean    499.500000   499.500000   -56.693871     0.054410
std     288.819436   288.819436    35.867004     0.111564
min       0.000000     0.000000   -85.658700     0.000000
25%     249.750000   249.750000   -83.363900     0.013800
50%     499.500000   499.500000   -80.153600     0.014900
75%     749.250000   749.250000   -24.487200     0.045775
max     999.000000   999.000000    68.460500     1.223300

In [4]:
# df = pd.read_parquet(data)

# Failed due to low RAM. continue after buying more RAM. Need more than 16 . Have 16

:

:

In [5]:
rowcount = 0

for row in open(data_csv):
    rowcount+=1

print(rowcount)

127946341