In [2]:
import pandas as pd

data = "dataset/child-mind-institute-detect-sleep-states/train_series.parquet"
data2 = "dataset/child-mind-institute-detect-sleep-states/test_series.parquet"
data_csv = "dataset/child-mind-institute-detect-sleep-states/train.csv"
data_reduced = "dataset/child-mind-institute-detect-sleep-states/reduced_dataset/reduced_train.parquet"

In [3]:
#df2 = pd.DataFrame(pd.read_csv(data_csv, nrows=1000))

In [4]:
#df2.describe()

        Unnamed: 0         step       anglez         enmo
count  1000.000000  1000.000000  1000.000000  1000.000000
mean    499.500000   499.500000   -56.693871     0.054410
std     288.819436   288.819436    35.867004     0.111564
min       0.000000     0.000000   -85.658700     0.000000
25%     249.750000   249.750000   -83.363900     0.013800
50%     499.500000   499.500000   -80.153600     0.014900
75%     749.250000   749.250000   -24.487200     0.045775
max     999.000000   999.000000    68.460500     1.223300

In [4]:
# df = pd.read_parquet(data)

# Failed due to low RAM. continue after buying more RAM. Need more than 16 . Have 16

:

:

In [5]:
rowcount = 0

for row in open(data_csv):
    rowcount+=1

print(rowcount)

127946341

In [3]:
df_reduced = pd.read_parquet(data_reduced)

#worked with 16GB RAM

In [4]:
df_reduced.head()

      series_id  step                 timestamp     anglez    enmo  awake
0  08db4255286f     0  2018-11-05T10:00:00-0400 -30.845301  0.0447      1
1  08db4255286f     1  2018-11-05T10:00:05-0400 -34.181801  0.0443      1
2  08db4255286f     2  2018-11-05T10:00:10-0400 -33.877102  0.0483      1
3  08db4255286f     3  2018-11-05T10:00:15-0400 -34.282101  0.0680      1
4  08db4255286f     4  2018-11-05T10:00:20-0400 -34.385799  0.0768      1

In [5]:
df_reduced.describe()

               step        anglez          enmo         awake
count  1.316556e+07  1.316556e+07  1.316556e+07  1.316556e+07
mean   2.033736e+05 -9.186773e+00  4.404299e-02  6.577188e-01
std    1.272140e+05  3.845213e+01  1.103743e-01  4.744732e-01
min    0.000000e+00 -9.000000e+01  0.000000e+00  0.000000e+00
25%    9.571475e+04 -3.886622e+01  1.100000e-03  0.000000e+00
50%    1.954510e+05 -1.031420e+01  1.600000e-02  1.000000e+00
75%    3.022720e+05  1.658750e+01  4.080000e-02  1.000000e+00
max    6.346790e+05  9.000000e+01  7.016100e+00  1.000000e+00

In [9]:
print(df_reduced.__len__())

13165560

In [ ]:
# Original dataset : 127946341
# Reduced dataset :   13165560